In [1]:
import pandas as pd
pd.set_option('display.precision', 2)

In [3]:
# Titanic verisi yükleme işlemi
df = pd.read_csv("C:/Users/melik/Desktop/titanic/train.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S

##### 1. Ölenlerin yaş ortalaması (Survived = 0 olanlar)

In [8]:
olenlerin_yas_ortalama = df[df["Survived"] == 0]["Age"].mean()
print("Kazada ölenlerin yaş ortalaması:", olenlerin_yas_ortalama)

Kazada ölenlerin yaş ortalaması: 30.62617924528302

##### 2.Kazada ölenlerin bilet fiyatlarının ortalaması ve medyanı

In [11]:
olenlerin_bilet = df[df["Survived"] == 0]["Fare"]
print("Ortalama:", olenlerin_bilet.mean())
print("Medyan:", olenlerin_bilet.median())

Ortalama: 22.117886885245902
Medyan: 10.5

##### 3.Kazada ölen erkeklerin yaş ortalaması

In [14]:
olen_erkek_yas = df[(df["Survived"] == 0) & (df["Sex"] == "male")]["Age"].mean()
print("Ölen erkeklerin yaş ortalaması:", olen_erkek_yas)

Ölen erkeklerin yaş ortalaması: 31.618055555555557

##### 4.Kazada ölen kadınların yaş ortalaması

In [17]:
olen_kadin_yas = df[(df["Survived"] == 0) & (df["Sex"] == "female")]["Age"].mean()
print("Ölen kadınların yaş ortalaması:", olen_kadin_yas)

Ölen kadınların yaş ortalaması: 25.046875

##### 5.Kazadan kurtulanların yaş ortalaması

In [20]:
kurtulan_yas_ortalama = df[df["Survived"] == 1]["Age"].mean()
print("Kazadan kurtulanların yaş ortalaması:", kurtulan_yas_ortalama)

Kazadan kurtulanların yaş ortalaması: 28.343689655172415

##### 6.Kazadan kurtulanların bilet fiyatlarının ortalamas

In [23]:
kurtulan_bilet = df[df["Survived"] == 1]["Fare"].mean()
print("Kazadan kurtulanların bilet fiyatı ortalaması:", kurtulan_bilet)

Kazadan kurtulanların bilet fiyatı ortalaması: 48.39540760233918

##### 7. Kazadan kurtulan toplam kişi sayısı

In [26]:
kurtulan_sayi = len(df[df["Survived"] == 1])
print("Kurtulan kişi sayısı:", kurtulan_sayi)

Kurtulan kişi sayısı: 342

##### 8. 10 yaşından küçüklerin bilet fiyatlarının medyan değeri

In [29]:
kucuk_10_bilet = df[df["Age"] < 10]["Fare"].median()
print("10 yaş altı yolcuların bilet fiyatı medyanı:", kucuk_10_bilet)

10 yaş altı yolcuların bilet fiyatı medyanı: 27.0

##### 9. 1. sınıf, 2. sınıf ve 3. sınıf bilet fiyatlarının ortalama ve medyanlarının karşılaştırılması

In [32]:
for sinif in sorted(df["Pclass"].unique()):
    sinif_df = df[df["Pclass"] == sinif]["Fare"]
    print(f"{sinif}. sınıf - Ortalama: {sinif_df.mean():.2f}, Medyan: {sinif_df.median():.2f}")

1. sınıf - Ortalama: 84.15, Medyan: 60.29
2. sınıf - Ortalama: 20.66, Medyan: 14.25
3. sınıf - Ortalama: 13.68, Medyan: 8.05

##### 10. Kazada ölen kadınların oranı ile erkeklerin oranının karşılaştırılması

In [35]:
olen_kadin_orani = len(df[(df["Survived"] == 0) & (df["Sex"] == "female")]) / len(df[df["Sex"] == "female"])
olen_erkek_orani = len(df[(df["Survived"] == 0) & (df["Sex"] == "male")]) / len(df[df["Sex"] == "male"])

print(f"Ölen kadın oranı: {olen_kadin_orani:.2%}")
print(f"Ölen erkek oranı: {olen_erkek_orani:.2%}")

Ölen kadın oranı: 25.80%
Ölen erkek oranı: 81.11%